<div
  class="background  h-screen lg:w-screen group-data-[theme-color=violet]:bg-slate-50 group-data-[theme-color=green]:bg-green-50/20 group-data-[theme-color=red]:bg-red-50/20 shadow overflow-y-hidden mb-[80px] lg:mb-0 group-data-[theme-color=violet]:dark:bg-zinc-700 group-data-[theme-color=green]:dark:bg-zinc-700 group-data-[theme-color=red]:dark:bg-zinc-700"
>
  <div class="flex items-center flex-col justify-center">
    <!-- Start Profile tab-pane -->
    <div class="tab-content active w-2/3">
      <!-- Start profile content -->
      <div>
        <div class="px-6 pt-12 text-center">
          <h4 class="mb-0 text-gray-700 dark:text-gray-50">My Profile</h4>
        </div>

        <div
          class="p-6 text-center border-b border-gray-100 dark:border-zinc-600"
        >
          <div class="mb-4">
            <img
              [src]="utente?.img"
              class="w-24 h-24 p-1 mx-auto border border-gray-100 rounded-full dark:border-zinc-800"
              alt=""
            />
          </div>

          <h5 class="mb-1 text-16 dark:text-gray-50">{{ utente?.user }}</h5>

          <h5 class="mb-0 truncate text-14 ltr:block rtl:hidden">
            <a href="#" class="text-gray-500 dark:text-gray-50"
              ><i
                class="text-green-500 ltr:ml-1 rtl:mr-1 ri-record-circle-fill text-10"
              ></i>
              Active</a
            >
          </h5>
        </div>
        <!-- End profile user -->

        <!-- Start user-profile-desc -->
        <div class="p-6 h-[550px]" data-simplebar="init">
          <div class="simplebar-wrapper" style="margin: -24px">
            <div class="simplebar-height-auto-observer-wrapper">
              <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
              <div class="simplebar-offset" style="right: 0px; bottom: 0px">
                <div
                  class="simplebar-content-wrapper"
                  tabindex="0"
                  role="region"
                  aria-label="scrollable content"
                  style="height: 100%; overflow: hidden"
                >
                  <div class="simplebar-content" style="padding: 24px">
                    <div>
                      <p
                        class="text-center mb-6 text-gray-500 dark:text-gray-300"
                      >
                        If several languages coalesce, the grammar of the
                        resulting language is more simple and regular than that
                        of the individual.
                      </p>
                    </div>

                    <div data-tw-accordion="collapse">
                      <div class="text-gray-700 accordion-item">
                     
                          <button
                            type="button"
                            class="flex items-center justify-between w-full px-3 py-2 font-medium text-left border border-gray-100 rounded-t accordion-header group active dark:border-b-zinc-600 dark:bg-zinc-600 dark:border-zinc-600"
                          >
                            <span
                              class="m-0 text-[14px] dark:text-gray-50 font-semibold ltr:block rtl:hidden"
                            >
                              <i
                                class="mr-2 align-middle ri-user-2-line d-inline-block"
                              ></i>
                              About
                            </span>

                            <i
                              class="mdi mdi-chevron-down text-lg group-[.active]:rotate-180 dark:text-gray-50"
                            ></i>
                          </button>
                

                        <div
                          class="block bg-opacity-50 bg-white border border-t-0 border-gray-100 accordion-body dark:bg-transparent dark:border-zinc-600"
                        >
                          <div class="p-5">
                            <div>
                              <p class="mb-1 text-gray-500 dark:text-gray-300">
                                Name
                              </p>
                              <h5 class="text-sm dark:text-gray-50">
                                {{ utente?.user }}
                              </h5>
                            </div>
                            <div class="mt-5">
                              <p class="mb-1 text-gray-500 dark:text-gray-300">
                                Email
                              </p>
                              <h5 class="text-sm dark:text-gray-50">
                                {{ utente?.email }}
                              </h5>
                            </div>
                            <div class="mt-5">
                              <p class="mb-1 text-gray-500 dark:text-gray-300">
                                Time
                              </p>
                              <h5 class="text-sm dark:text-gray-50">
                                {{ currentDate }}
                              </h5>
                            </div>
                            <div class="mt-5">
                              <p class="mb-1 text-gray-500 dark:text-gray-300">
                                Location
                              </p>
                              <h5 class="text-sm dark:text-gray-50">
                                California, USA
                              </h5>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="mt-2 text-gray-700 accordion-item">
                        <h2>
                            <a href="chat">  <button
                            type="button" 
                            class="flex justify-between w-full px-3 py-2 font-medium text-left border border-gray-100 rounded accordion-header group dark:border-b-zinc-600 dark:bg-zinc-600 dark:border-zinc-600"
                          >
                            <span
                              class="m-0 text-[14px] dark:text-gray-50 font-semibold ltr:block rtl:hidden"
                            >
                              <i
                                class="mr-2 align-middle ri-attachment-line d-inline-block"
                              ></i>
                            MychatRooms
                            </span>
                            <div
                              class="py-1 mt-5 mb-5  "
                            >
                              <span
                                class="group-data-[theme-color=violet]:bg-slate-100 group-data-[theme-color=green]:bg-green-50 group-data-[theme-color=red]:bg-red-50 pe-1 ps-3 group-data-[theme-color=violet]:dark:bg-zinc-600 group-data-[theme-color=green]:dark:bg-zinc-600 group-data-[theme-color=red]:dark:bg-zinc-600"
                                id="basic-addon1"
                              >
                                <i
                                  class="text-lg text-gray-400 ri-search-line search-icon dark:text-gray-200"
                                ></i>
                              </span>
                              <input
                                type="text"
                                class="border-0 group-data-[theme-color=violet]:bg-slate-100 group-data-[theme-color=green]:bg-green-50 group-data-[theme-color=red]:bg-red-50 placeholder:text-[14px] focus:ring-offset-0 focus:outline-none focus:ring-0 group-data-[theme-color=violet]:dark:bg-zinc-600 group-data-[theme-color=green]:dark:bg-zinc-600 group-data-[theme-color=red]:dark:bg-zinc-600 placeholder:text-gray-400"
                                placeholder="Search messages or users"
                                aria-label="Search messages or users"
                                aria-describedby="basic-addon1"
                              />
                            </div>

                            <i
                              class="mdi mdi-chevron-down text-lg group-[.active]:rotate-180 dark:text-gray-50"
                            ></i>
                          </button>
                            </a>
                        
                          <span></span>
                        </h2>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>
