.backgroundChat {
    background-image: url("../../../assets/img-chat/chatbg.jpg");
    background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
    background-size: cover; /* Copre l'intera area dell'elemento */
    background-position: center; /* Centra l'immagine nello sfondo */
  }