<div class=" modal">
  <div class="modal-content glow rounded-xl flex flex-col">
    <h2 class="text-white ">Enter Password</h2>
    <input
      class=" bg-transparent border border-indigo-300 text-white text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
      type="password" [(ngModel)]="password" placeholder="Enter your password">
    <div class="flex justify-between mt-3">
      <button
        class="py-2 px-7 text-base font-medium text-indigo-100 focus:outline-none bg-teal-600 rounded-lg border hover:bg-teal-800 focus:z-10 focus:ring-4 focus:ring-teal-800"
        (click)="submitPassword()">Submit</button>
      <button
        class="py-2 px-7 text-base font-medium text-indigo-100 focus:outline-none bg-gray-500 rounded-lg border hover:bg-gray-800 focus:z-10 focus:ring-4 focus:ring-teal-800"
        (click)="closeModal()">Cancel</button>

    </div>
  </div>
</div>